@{
    ViewData["Title"] = "About Us";
}


<div class="spacer"></div>

<div class="ui-grid-container">
    <h1>JWSC Inc.</h1>
    <p>JWSC Inc. was founded in August of 2019 for the purpose of a group project</p>
    <p>JWSC Inc. is comprised of 4 members:</p>
    <ul>
        <li>Tony Jativa</li>
        <li>Leon Whitfield</li>
        <li>Verena Sim</li>
        <li>Christian Conder</li>
    </ul>
    <br />

    <div class="back_white">
        <h3>Tony Jativa</h3>
        <h5>Junior, ..., ..., ...</h5>
        <p>Tony Jativa is a Computer Science major here at the University of North Florida after transferring from Florida State College at Jacksonville (FSCJ) and hopes to graduate in 2021. Tony is currently studying to take the LSAT in order to get into a prestigious Law School after receiving his bachelors. He currently works part-time at the St. Johns Town Center here in Jacksonville, Florida.</p>
        <br />
    </div>

    <h3>Leon Whitfield</h3>
    <h5>Senior, Vice Presedent of JWSC Inc.</h5>
    <p>Leon Whitfield is a Computer Information Science major at the University of North Florida with an expected graduation date in the fall of 2020.  </p>
    <br />
    
    <div class="back_white">
        <h3>Verena Sim</h3>
        <h5>Junior, ..., ..., ...</h5>
        <p>jbcibkjnonv jhcon hicn hc</p>
        <br />
    </div>

    <h3>Christian Conder</h3>
    <h5>Junior, ..., ..., ...</h5>
    <p>jbcibkjnonv jhcon hicn hc</p>
    <br />
</div>