@{
    ViewData["Title"] = "Contact";
}

<div class="spacer"></div>

<div class="ui-grid-container">
    <h2>You can contact any on the JWSC Inc. Members directly by clicking their name</h2>
    <div class="grid-container grid-container4">
        <a href="mailto:n01424733@unf.edu"><p>Tony Jativa</p></a>
        <a href="mailto:n01408193@unf.edu"><p>Leon Whitfield</p></a>
        <a href="mailto:n00874395@unf.edu"><p>Verena Sim</p></a>
        <a href="mailto:n01387717@unf.edu"><p>Christian Conder</p></a>
    </div>
    <br /><br />
    <div class="top-images">
        <img class="rotate" src="~/images/tony.jpg">
        <img class="rotate" src="~/images/leon.jpg">
        <img class="rotate" src="~/images/verena.jpg">
        <img class="rotate" src="~/images/christian.jpg">
    </div>
</div>



<div class="spacer"></div>
<div class="spacer"></div>
