@{
    ViewData["Title"] = "Get Started";
}

<div class="spacer"></div>

<div class="ui-grid-container-text">
    <h1>Get Started</h1>
    <p>
        Get started by joining the club with<br />
        your own subscription.<br />
        Try a starter pack today!<br />
    </p>

</div>

<div class="spacer"></div>


<div class="ui-grid-container">
    <div class="grid-container grid-container2">
        <img width="100%" src="https://dsc-assets.imgix.net/images/face-landing/product-images/quiz/questionnairefunnel-family-dorco.png?auto=format&fit=crop&w=1946" />
        <div class="ui-v-align__container">
            <a class="get-started" asp-action="Products">BUY NOW!</a>
        </div>
    </div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>

