@{
    ViewData["Title"] = "Gift";
}


<div class="spacer"></div>

<div class="ui-grid-container-text">
    <h1>Gift a Penny</h1>
    <p>
        We'e made gifting super simple. As long as they shave,
        shower, or poop, we've got you covered.<br />
        Give the gift of Penny Saver Razors today!<br />
    </p>
</div>

<div class="spacer"></div>

<div class="back_white">
    <div class="spacer"></div>

    <div class="ui-grid-container">
        <div class="grid-container grid-container2">
            <img width="100%" src="https://dsc-assets.imgix.net/images/gift-images/usa-giftsets-landing-holiday-1.png?auto=format&fit=crop&w=1946" />
            <div class="ui-v-align__container">
                <div>
                    <h2>Gift Sets</h2>
                    <p>
                        From hair to toe, there’s a Gift Set that’s
                        right for everyone. You pick the perfect one and
                        we’ll handle everything else.
                    </p>
                    <ol>
                        <li>
                            Choose the perfect Gift Set.
                        </li>
                        <br />
                        <li>
                            Have it shipped to them or to yourself.
                            Gift wrapping available for certain sets.
                        </li>
                        <br />
                        <li>
                            Gifting isn’t a competition, but
                            if it was you just won.
                        </li>
                        <br />
                    </ol>
                    <a class="get-started">GIFT NOW!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>
</div>

<div class="spacer"></div>

<div class="ui-grid-container">
    <div class="grid-container">
        <div class="ui-v-align__container">
            <div>
                <h2>E-Gift Cards</h2>
                <p>
                    Send a chunk of DSC cash to use on anything.
                    It’s like giving someone the keys to the Club.
                </p>
                <ol>
                    <li>
                        Pick the amount you want, between $10 - $300.
                    </li>
                    <br />
                    <li>
                        Add a personal message
                        and tell us when & where to email it.
                    </li>
                    <br />
                    <li>
                        Expect a lot of e-gratitude. And maybe an e-hug.
                    </li>
                    <br />
                </ol>
                <a class="get-started">GIFT NOW!</a>
            </div>
        </div>
        <img width="100%" src="https://dsc-assets.imgix.net/images/gift-images/usa-e-giftset-landing-holiday-1.png?auto=format&fit=crop&w=1946" />
    </div>
</div>

<div class="spacer"></div>

<div class="back_white">
    <div class="spacer"></div>

    <div class="ui-grid-container">
        <div class="grid-container grid-container3 grid-container5">
            <p> </p>
            <div>
                <img src="https://dsc-cms.imgix.net/v1/qpbrd0hcmuyw/7nJA9LLT32mu82eggcSM6w/9937ddc0d06db589c3c55f98b6a5258d/everyonecovered.svg?auto=format&fit=crop&w=1946" />
                <div>
                    <h3>Everyone’s covered</h3>
                    <p>From the person you truly love to the one you just met, we’ve got the perfect gift for ’em.</p>
                </div>
            </div>
            <div>
                <img src="https://dsc-cms.imgix.net/v1/qpbrd0hcmuyw/4Qm6G6c5tmCyagI20oA2u8/4726ae4e411ca41edf88c03ad99d0a6a/betterlookinglovedones.svg?auto=format&fit=crop&w=1946" />
                <div>
                    <h3>Better looking loved ones</h3>
                    <p>Our exclusive products are formulated with topshelf botanicals to help your loved ones look, feel and smell great.</p>
                </div>
            </div>
            <div>
                <img src="https://dsc-cms.imgix.net/v1/qpbrd0hcmuyw/1wNHkxXWoQ68OM40aiEEaQ/d31031e5b994513ef71fd3ea46a9bdea/theywilluseit.svg?auto=format&fit=crop&w=1946" />
                <div>
                    <h3>You know they’ll use it</h3>
                    <p>Everyone has different needs. Fortunately, we have a bunch of awesome stuff to help them all out.</p>
                </div>
            </div>
            <p> </p>
        </div>
    </div>

    <div class="spacer"></div>
    </div>

