@{
    ViewData["Title"] = "How It Works";
}

<div class="spacer"></div>

<div class="ui-grid-container-text">
    <h1>How It Works</h1>
    <p>
        Our goal is to make sure you always have everything<br />
        you need to look, feel, and smell your best. Here's how<br />
        it all goes down:
    </p><br />
    
    <a class="get-started" asp-action="GetStarted">Get Started</a>
</div>


<div class="ui-grid-container">
    <div class="grid-container-hiw">
        <div>
            <img src="https://www.dollarshaveclub.com/face-middleware/images/v1/qpbrd0hcmuyw/4ePMXF9ARO040S8eYMCYew/8159ee0cbd729f82b37509480b0650e7/bn-ex-sb3-5.svg?auto=format&fit=crop&h=200&w=280&q=75&dpr=1" />
            <h2>Get Started</h2>
            <p>Choose one of our risk-free starter sets and try what the Club has to offer.</p>
        </div>
        <div>
            <img src="https://www.dollarshaveclub.com/face-middleware/images/v1/qpbrd0hcmuyw/SuERKLGu8SkiIK8EeQ80e/bf8e90962701acda5f785ee00663cefd/box.svg?auto=format&fit=crop&h=200&w=280&q=75&dpr=1" />
            <h2>We Will, We Will, Stock You</h2>
            <p>We will continue to deliver the full-size products of your choice a few times a year.</p>
        </div>
        <div>
            <img src="https://www.dollarshaveclub.com/face-middleware/images/v1/qpbrd0hcmuyw/2CbtfmgED6IUigIUKe8aWS/293ef43ce35b35c5e6b99b0d6f0c10a2/extras.svg?auto=format&fit=crop&h=200&w=280&q=75&dpr=1" />
            <h2>But Wait, There's More!</h2>
            <p>Add and remove our amazing bathroom products as you see fit. And the more you buy, the more you save with our Handsome Discount.</p>
        </div>
        <div>
            <img src="https://www.dollarshaveclub.com/face-middleware/images/v1/qpbrd0hcmuyw/37Yybz7fTaq2KqOsYYoucO/adc29d973b752356b3fa2b7877a57dd7/calendar.svg?auto=format&fit=crop&h=200&w=280&q=75&dpr=1" />
            <h2>You Say When</h2>
            <p>Tell us how often you want regular shipments, from every month to three times a year. You’re in the driver’s seat.</p>
        </div>
        <div>
            <img src="https://www.dollarshaveclub.com/face-middleware/images/v1/qpbrd0hcmuyw/2guymkVQDqECyQE0W68Imm/51ee223a9eb10d8b15bf31d50335f920/ball-and-chain.svg?auto=format&fit=crop&h=200&w=280&q=75&dpr=1" />
            <h2>No Long-Term Commitments</h2>
            <p>You can cancel your Membership anytime with a few clicks. Questions? Concerns? Our world class Club Pros are here for you.</p>
        </div>
        <div>
            <img src="https://www.dollarshaveclub.com/face-middleware/images/v1/qpbrd0hcmuyw/2v2kSql3fKEMWGkKku2Amu/4bf4e8789743afdfdd5a3a2a28cdf359/chairman-seal.svg?auto=format&fit=crop&h=200&w=280&q=75&dpr=1" />
            <h2>30-day Money Back Guarantee</h2>
            <p>If you’re not happy with anything for any reason, we’ll refund your money. All of it.</p>
        </div>
    </div>
</div>

<div class="spacer"></div>

