@{
    ViewData["Title"] = "Home";
}



<div class="top-images">
    <img src="https://dsc-assets.imgix.net/images/face-landing/heroes/photos/getting-ready/gdlp-getready-mob-09@1x.png">
    <img src="https://dsc-assets.imgix.net/images/face-landing/heroes/photos/getting-ready/gdlp-getready-mob-06@1x.png">
    <img src="https://dsc-assets.imgix.net/images/face-landing/heroes/photos/getting-ready/gdlp-getready-mob-05@1x.png">
    <img src="https://dsc-assets.imgix.net/images/face-landing/heroes/photos/getting-ready/gdlp-getready-mob-04@1x.png">
</div>

<div class="spacer"></div>

<div class="ui-grid-container">
    <div class="grid-container grid-container2">
        <img width="100%" src="https://dsc-cms.imgix.net/v1/qpbrd0hcmuyw/5BQhVcbMrbSAbeuKzOUK3n/ab21455fbca7c383b378e8f8c24a9081/multi-core-des_2x.png?auto=format&fit=crop&w=1180&q=75&dpr=1">
        <div class="align__container-text">
            <h3>How does it work? It’s simple.</h3>
            <ol>
                <li>
                    Tell us a bit about how you get ready,
                    and we’ll send you trial size products to dip
                    your toes into the amazing waters of DSC.
                </li>
                <br />
                <li>
                    Two weeks later, we’ll ship you a
                    Restock Box with full sizes of all those
                    products, at a discount, of course.
                </li>
                <br />
                <li>
                    You’re in control. Any time you want, add
                    and remove products, plus adjust how often
                    you get Restock Boxes. See? Simple.
                </li>
                <br />
            </ol>
        </div>
    </div>
</div>

<div class="spacer"></div>

<br />
<div class="back_white">
    <div class="spacer"></div>
    <div class="ui-grid-container">
        <div class="grid-container grid-container3">
            <p></p>
            <p>Free Shipping</p>
            <p>30-day Money Back Garuntee</p>
            <p>Cancel Anytime</p>
            <p></p>
        </div>
    </div>
    <div class="spacer"></div>
</div>
<br />

<div class="spacer"></div>

<div class="ui-grid-container">
    <div class="grid-container">
        <div class="align__container-text">
            <h2>The Restock Box.</h2>
            <p>Four times a year (or whenever you want) we send a Restock Box so you never run out of anything you need to look, smell and feel your best.</p>
        </div>
        <img width="100%" src="https://dsc-cms.imgix.net/v1/qpbrd0hcmuyw/1Ro7EVOnSUimomAB6a98qs/1bf335a510770d4f7e98d165f604db34/features-restock-des-01_2x.png?auto=format&fit=crop&w=1446">
    </div>
    <div class="spacer"></div>
    <div class="grid-container grid-container2">
        <img width="100%" src="https://www.dollarshaveclub.com/face-middleware/images/v1/qpbrd0hcmuyw/YlE7omf8PzNVZM1kHsOMv/2eff5475097b86c9812b95c8bd7a88d2/features-discount-des-01_2x.gif?auto=format&fit=crop&w=1446">
        <div class="align__container-text">
            <h2>The Handsome Discount.</h2>
            <p>The more you buy, the more you save. Add two or more products and unlock big savings.</p>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="grid-container">
        <div class="align__container-text">
            <h2>Flexible shipments: move it or use it.</h2>
            <p>You’ve got total control over what shows up when. Move your box date up or push it out. Easy.</p>
        </div>
        <img width="100%" src="https://www.dollarshaveclub.com/face-middleware/images/v1/qpbrd0hcmuyw/4fvJtHw6msTobArHqLRex4/695c46332cf81b8cdaecbd7d38448312/features-calendar-des-01_2x.gif?auto=format&fit=crop&w=1446">
    </div>
</div>

<div class="spacer"></div>


<div class="ui-grid-container-text">
    <h1>Did we convince you?</h1>
    <p>
        Join us today
    </p><br />

    <a class="get-started" asp-action="GetStarted">JOIN NOW!</a>
</div>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

