@{
    ViewData["Title"] = "Login";
}
<style>
    body {
        font-family: 'Montserrat';
        text-align: center;
        margin: 0;
    }
</style>

<div>
    <h1>Welcome back!</h1>
    <p class="tlogin-text">Please login to continue.</p>
    <p span data-text="Email" class="label">
        Email
        <input type="email" name="email" autofocus="" id="ember2015" class="ember-text-field ember-view">
    </p>
    <p label id="ember2016" class="uni-form-input prompting required default ember-view"></p>

    <span data-text="Password" class="label">Password</span>

    <!---->
    <input type="password" name="password" id="ember2017" class="ember-text-field ember-view">

    </p>


    <p> <a class="btn btn-primary" asp-action="Login1">Log In</a></p>
    <a asp-action="GetStarted">Not a member? Join Us</a></p>
    <a class="small">Forgot password?</a></p>
    <button>
      

            <img width="19px" height="19px" src="https://cdn.worldvectorlogo.com/logos/facebook-icon-white.svg" />

    
        Log in with Facebook
    </button></p>
    <button class="ui-btn ui-btn--xl ui-btn--block google" data-ember-action="" data-ember-action-2279="2279">
        <img width="19px" height="19px" src="https://i.stack.imgur.com/Ga0da.png" />

        Log in with Google
    </button></p>
</div>

<img style="" src="https://dsc-assets.imgix.net/images/product-images/blades-funnel/MRZ-6B-BM2-CURRENT.png?auto=format&fit=crop&h=594&w=594&q=75&dpr=1" />